#menuBox {
	background-color: #6cff00;
	width: 100vw;
	height: 80vh;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	display: table;
	table-layout: fixed;	
	font-family: 'IBM Plex Sans', sans-serif;
}

#menuBox td button {
	display: inline-block;
	width: 80%;
	height: 80%;
	background: #ae00ff;
	color: white;
	font-size: 300%;
	font-family: 'IBM Plex Sans', sans-serif;
}

#menuBox button:hover {
	background-color: black;
}

#menuBox tr {
	text-align: center;
}

.homeButton {
	background: #ae00ff;
	color: white;
	height: 10vh;
	border: none;
	font-size: 280%;
	font-family: 'IBM Plex Sans', sans-serif;
	text-align: center;
	display: inline;
}

.homeButton:hover {
	background: black;
}

p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 150%;
	margin: 5%;
}

li {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 150%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 1%;
}

#header h1, #header h2 {
	display: inline;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
}

img {
	display: block;
	margin: 2%;
}

.projectHeader {
	font-size: 300%;
	display: block;
	color: black;
	text-decoration: none;
	text-align: center;
}

.projectContainer {
	width: 95%;
	margin: 2%;
	padding: 2%;
	border: 4px dashed black;
}