body {
	font-family: 'Inter', sans-serif;

}

#menu {
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	background-color: lightblue;
	display: block;
	float: left;
	text-align: center;
}

#menu > h1 {
	text-align: center;
	font-weight: 800;
}

#menu > button {
	width: 90%;
	height: 10%;
	border: none;
	font-size: 22px;
	transition: ease-in-out 0.2s;
	background-color: #abff94;
}

#menu > button:hover {
	background-color: lightblue;
}

#content {
	display: inline-block;
	width: 50%;
	padding:  2.5%;
	float: right;
}