body {
	font-family: 'Inter', sans-serif;

}

#menu {
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	background-color: #3d3d3d;
	display: flex;
	flex-direction: column;
	align-items: center;
	float: left;
	color: white;
}

#menu > h1 {
	text-align: center;
	font-weight: 800;
	color: lightblue;
}

#menu > h1 > span {
	font-weight: 300;
	font-size: 12px;
	position: absolute;
	display: block;
}

#menu > a {
	width: 90%;
	height: 10%;
	border: none;
	font-size: 22px;
	transition: ease-in-out 0.2s;
	background-color: #5a5a5a;
	color: white;
	margin: 5px;
	border-radius: 10px;
	font-weight: 800;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

#menu > a > img {
	width: 30px;
	display: inline;
	float: right;
	margin-right: 15px;
}

#menu > a:hover {
	background-color: #3d3d3d;
	font-size: 30px;
}

#content {
	display: inline-block;
	width: 50%;
	padding:  2.5%;
	float: right;
}

.normalLink {
	color: blue;
	transition: ease-in-out 0.3s;
}

.normalLink:hover {
	background-color: blue;
	color: white;
	padding: 2px;
}

#menu > #bottomAbout {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 20px;
	color: #9a9a9a;
	font-size: 14px;
}

#bottomAbout > .normalLink {
	color: #9a9a9a;
}

