body {
	font-family: 'Bungee', cursive;
	background-color: #000;
	color: #fff;
	margin: 0px;
	overflow: hidden;
}
#infoDisplay {
	left: 35%;				
}

#debug {
	visibility: hidden;
	font-size: 35px;
}

#config {
	right: 0;
	transition: ease-in-out 0.2s;
}

#config:hover {
	padding: 3%;
}

.menuitem {
	font-size: 35px;
	position: absolute;
	background-color: black;
	padding: 1%;
}

#configWindow {
	position: absolute;
	background-color: black;
	text-align: center;
	height: 60vh;
	width: 80vw;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	visibility: hidden;
}

#configWindow input {
	margin: 3%;
}

#configWindow div {
	margin: 3%;
	margin-bottom: 1%;
}

#controls td.key {
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
	min-width: 3em;
	height: 3em;
	background-color: white;
	color: black;
}

#controls td.key div.info {
	font-size: 0.5em;
}

#controls > table {
	margin: auto;
	width: 10vw;
	height: 10vw;
	font-size: 2vmax;
	top: 9vh;
	position: relative;
}

#controls {
	width: 60vw;
	height: 70vh;
	margin: auto;
	margin-top: 14vh;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
}

#controlsContainer{
	position: absolute;
	width: 100vw;
	height: 50vw;
	text-align: center;
	margin: auto;
}

#controls > .header {
	font-size: 400%;
	padding-top: 1vh;
	margin-top: 8vh;
}

#controls > .subheader {
	font-size: 200%;
}

#explanation.subheader {
	margin-top: 12vh;
}

#banner {
	font-family: 'Bungee', cursive;
	font-size: 160px;
	background: none;
	width: 100%;
	top: 20%;
	left: -100%;
	text-align: center;
	position: absolute;
	z-index: 1;
	color: #5566ff;
	transition: ease-in-out 5s;
}

#eBrakeInfo.info {
	font-size: 0.4em !important;
}
